<form data-id="form">
    <label>
        Country
        <input type="text" data-id="country" name="country">
    </label>

    <label>
        City
        <input type="text" data-id="city" name="city">
    </label>

    <label>
        Phone
        <input type="tel" data-id="phone" name="phone">
    </label>

    <div>
        <button>
            Submit
        </button>
    </div>

    <div data-id="address" style="display: none;"></div>
    <div data-id="quote" style="display: none;"></div>
    <div data-id="error" style="display: none;"></div>
</form>

<div data-id="loadingIndicator" style="display: none;">
    Loading&hellip;
</div>
